@model IEnumerable<App.Core.Domain.Entities.TicketPriority>

@{
    ViewData["Title"] = "اولویت ها";
}

<h1>لیست اولویت ها</h1>

<p>
    <a asp-action="Create">رکورد جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">مشاهده</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حدف</a>
            </td>
        </tr>
}
    </tbody>
</table>
